<div class="ui grid ">
    <div class="sixteen wide column ">
        <h2 class="main-heading">Choose a horse</h2>

        <a class="ui basic right label">
            {{ username }}
            
          </a>

        <button (click)="logout()" class="ui button large left floated main-btn">
            <i class="user outline icon"></i> Logout
        </button>
    </div>

    <div class="sixteen wide column">
        <div class="img-place"><img src="./assets/images/horse.png"></div>
    </div>
    <div class="sixteen wide column ">


    </div>
</div>
<!--<div class="ui form labeled button" tabindex="0">-->

<!--</div>-->