.main-heading {
    color: white;
    text-align: center;
}

main-btn {
    font-size: 1.75rem;
}

.img-place {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .menu {
        width: 100px;
    }
    .item {
        width: 320px;
    }
}