
.main-heading{
    color: white;
    text-align: center;
}
.main-btn{
    border: 2px solid white;
    margin-top:30px;
    position: absolute;
    top:0;
    background-color:#67B9E8 ;
    color: white;
    padding:10px 30px 10px 30px;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img-bg-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/background.jpeg');
}
