<div class="background img-bg-home">
    <div class= "ui grid ">
        <div class="sixteen wide column ">
            <h2 class="main-heading">Choose a horse</h2>
            <div class="ui compact menu">
                <div class="ui simple dropdown item">
                  <article class="main-btn">Login</article>
                  <div class="menu">
                    <div class="item"><app-log-in></app-log-in></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="sixteen wide column">
          <div class="img-place"><img src="./assets/images/horse.png"></div>
        </div>
       <div class="sixteen wide column "><app-sign-up></app-sign-up></div>

      <div>
</div>  